<footer>
  <p class="follow">
    يُمكنك متابعة اخر أخبار الموقع و القناة علي

    <a href="https://www.facebook.com/tahawy111" target="_blank"> الفيسبوك </a>
  </p>

  <p class="design">
    Designed and developed by Amer Tahawy © <%= new Date().getFullYear()%>
  </p>
</footer>
