<header class="myheader">
  <h1>
    <a href="/all-articles" style="text-decoration: none; color: white"
      >Articles</a
    >
  </h1>

  <nav>
    <ul class="parent">
      <li>
        <a href="https://www.youtube.com/channel/UCZ8UXBv0rZZygWrDT5Bu1qw">
          Channel
        </a>
      </li>
      <li><a href="/add-new-article"> Add new article </a></li>
      <li id="dark" class="mode">change mode</li>
      <li><a href=""> Support Us </a></li>
    </ul>
  </nav>
</header>
